<!-- La vue du profil user -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "100x100"), class: 'rounded-circle', alt: 'avatar' %>
    <% else %>
        <%= image_tag gravatar_image_url("https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?f=y", size: 100), height: 100, width: 100, class: "rounded-circle" %>
    <% end %>
    <h1 class="display-4"><%= @user.first_name %>  <%= @user.last_name %></h1>
    <p class="lead"> <%= @user.email %> 
    <%= link_to "Edit your profil", edit_user_registration_path, :class => "btn btn-primary"%></p>
    <p class="lead"><%= @user.description %></p>
  </div>
</div>



    <div class="card-body">
        <div class="container">
        <% @events.each do |event| %>
            <%= event.title %>
            <%= link_to "Go to this Event", event_path(event.id), :class => "btn btn-primary"%>
        <% end %>
          </div>
      </div>
 